.sendArrowButtonContainer {
    .spinner-border {
        color: white;
    }
    cursor: pointer;
    svg {
        transition: 0.3s ease-in-out;
        &:hover {
            fill: #ef9ec4;
        }
    }
}