.navigationContainer {
    width: 100%;
    position: relative;
    margin-top: 1%;
    background-color: transparent;
    .nav-container {
        display: flex;
        justify-content: space-evenly;

        .nav-item {
            text-decoration: none;
            font-size: 160%;
            color: black;
            transition: 0.4s;
            &:hover {
                color: #EF9EC4;
            }
        }
    }
}