.customInputContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .inputField {
        width: 90%;
        height: 40px;
        border-radius: 8px;
        border: none;
        margin-bottom: 2%;
        padding: 2%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }
}