.homepageContainer {
    .row {
        --bs-gutter-x: 0;
    }

    .homepageInfo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1% 0;

        h2 {
            text-align: center;
            display: inline-block;
            padding: 0.5% 1%;
            border-bottom: 1px solid #ef9ec4;
        }

        .infoBox {
            padding: 1% 2%;
            display: flex;
            flex-direction: column;

            h4 {
                color: #ef9ec4;
                text-transform: uppercase;
                font-size: 120%;
            }
        }

        .infoLink {
            text-decoration: none;
            color: #d268a4;
            transition: 0.4s;

            &:hover {
                color: #ef9ec4;
            }
        }
    }

    .auctionContainer {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin: 2% 0;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/bopAuctions.jpg);

        h2 {
            border-bottom: 1px solid #d268a4;
            display: inline-block;
            margin-top: 2%;
            padding: 0.5% 1%;
        }
    }

    .pastYearsContainer {
        display: flex;
        justify-content: center;
        h2 {
            text-align: center;
            border-bottom: 1px solid #d268a4;
            padding: 0.5% 1%;
            display: inline-block;
        }
    }

    .contactContainer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/bop_event.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}